{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": "current",
					"browsers": ["last 2 versions", "safari >= 7"]
				}
			}
		],
		"react",
		"stage-2"
	],
	"plugins": ["./utils/inline-pug-react", "transform-react-pug"],
	"retainLines": true
}
