meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

//- Document Title
	============================================
title= title || 'redis manager'

//- Stylesheets
	=============================================
link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
if process.env.NODE_ENV === 'production'
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
else
	link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
