extends ../layouts/base.pug

block body
    main.d-flex: .d-flex.flex-column.flex-grow
        nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.flex-no-shrink
            a.navbar-brand(href='/')
                | redis manager
            button.navbar-toggler(data-target='#navbarNav', type='button', data-toggle='collapse', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='#')
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#')
                            i.fa.fa-info.mr-1
                            | commands
                    li.nav-item
                        a.nav-link(href='#')
                            i.fa.fa-wrench.mr-1
                            | tools
        .d-flex.flex-grow.no-overflow#react-root
            //- iframe.h-100.w-100(src="https://redis.io/commands", frameborder="0")

block script
    script(src='/js/home.js')